$primary = #ff9900
$info = orangered
$selectColor = #fff
$balck = #000
$red = red

$fontColor1 = #333
$fontColor2 = #666
$fontColor3 = #999

$borderColor = #333
$borSeleColor = #ff4400
$borCateColor = #1d84a7

$cateGoodsBgColor = #1d84a7
$cateBgColor = #f3f3f3