$h1 = 0.4rem
$h2 = 0.3rem
$h3 = 0.24rem
$h4 = 0.21rem
$shopFontSize = 0.35rem

$lineHeight = 0.5rem

$padding5 = 0.05rem
$padding10 = 0.1rem
$padding20 = 0.2rem

$margin20 = 0.2rem
$margin10 = 0.1rem
$margin5 = 0.05rem

$header = 0.8rem
$footer = 1rem

$border-width = 0.01rem

$imgWH = 2.2rem

$hrH = .4rem
$hrH2 = .1rem